<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-wtk"
    version="0.1.1">
    <name>WTKPlugin</name>

    <description>WTK Cordova plugin</description>
    <author>liuxiaoy</author>
    <keywords>wtk, uhf</keywords>
    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova-android" version=">=7" />
    </engines>

    <platform name="android">
        <js-module name="WTKPlugin" src="www/WTKPlugin.js">
            <clobbers target="WTKPlugin" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WTKPlugin">
                <param name="android-package" value="com.liuxiaoy.cordova.wtk.WTKPlugin"/>
            </feature>
        </config-file>
        <framework src="platforms/android/wtk.gradle" custom="true" type="gradleReference" />
        <source-file src="platforms/android/com/liuxiaoy/cordova/wtk/WTKPlugin.java" target-dir="src/com/liuxiaoy/cordova/wtk" />

        <source-file src="platforms/android/jniLibs/armeabi-v7a/libDeviceAPI.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="platforms/android/jniLibs/arm64-v8a/libDeviceAPI.so" target-dir="libs/arm64-v8a"/>

        <source-file src="platforms/android/libs/cw-deviceapi20190815.jar" target-dir="libs"/>
        <source-file src="platforms/android/libs/IGLBarDecoder.jar" target-dir="libs"/>
    </platform>
</plugin>
